<clr-header class="header-6">
    <div class="branding">

        <a class="logo-and-title" routerLink="/home">

            <clr-icon shape="tools" class="is-solid is-success"></clr-icon>
            <span class="title">CustomCRM</span>

        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <a href="javascript://" routerLinkActive="active" class="nav-link nav-text">Dashboard</a>
        <a href="javascript://" routerLinkActive="active" class="nav-link nav-text">Interactive Analytics</a>
        <a routerLink="/students" routerLinkActive="active" class="nav-link nav-text">Students</a>
        <a routerLink="/personel" routerLinkActive="active" class="nav-link nav-text">Personel</a>
        <a href="javascript://" routerLinkActive="active" class="nav-link nav-text">Revenue & Costs</a>
        <a href="javascript://" routerLinkActive="active" class="nav-link nav-text">Expenses</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</clr-header>